// out: "build/generic.css"

html.byz-dark {
    min-height: 100%;
    background-color: white;
    filter: brightness(0.9) invert(1) hue-rotate(180deg) brightness(140%);

    img, video, svg {
        filter: brightness(0.71) hue-rotate(180deg) invert(1);
    }

    body {
        background-color: white;
    }
}
