
/* Invert colors */
body {
    filter: brightness(0.93) invert(1) hue-rotate(180deg) brightness(1.3);
}

/* Restore icons colors */
img,
div[style^="background-image:"] {
    filter: invert(1) hue-rotate(180deg) brightness(1.25);
}

* {
    box-shadow: none !important;
}

button.brbsPe {
    background-color: #e8f0fe;
}