

/* Restore colors of the logo and avatar */
a[aria-label="Google Translate"] > span:first-of-type,
a[aria-label^="Google Account: "] > img {
    filter: invert(1) hue-rotate(180deg);
}


/* Make tooltips great again */
div.B2mKhd.eQGGme.xGUN1 {
    background-color: black;
    box-shadow: none;
    filter: contrast(0.8);
}