// out: "../../build/generic.css"

html.byz-dark,
html[byz-dark] {
    &[file-type="PDF"] {
        filter: brightness(0.5);
    }

    &:not(
        [file-type="PDF"], 
        [file-type="IMG"], 
        .dark-theme, 
        .dark,
        .theme-dark
    ) {
        min-height: 100%;
        background-color: white !important;
        filter: brightness(0.91) invert(1) hue-rotate(180deg) brightness(140%);

        img, image, video,
        .photo[style^="background-image: url("],
        .thumbnail[style^="background-image: url("] {
            filter: brightness(0.71) hue-rotate(180deg) invert(1) drop-shadow(#bbb 0px 0px 1px);
        }

        body {
            /* LinkedIn adds !important to their color */
            background-color: white !important;
        }
    }
}

svg.byz-dark {
    background-color: #1a1a1a;
}


// random

div.photo-content-upper-container > div.photo-well-scrappy-view > div.height-controller,
div.zoom-modal:before {
    background: white;
}
