// out: "../build/gpt.css"

code:not(pre code),  // only `code` tags that have no `pre` ancestor
[data-message-author-role="user"] pre {
    background-color: #ffffff14;
    padding: 0 0.4em;
    border-radius: 0.2em;
}

div.user-message-bubble-color {
    background-color: #0b4d8f;

    code, pre {
        background-color: #094077;
    }
}




/* Code */
span.ͼo {
    color: white;
}

/* String */
span.ͼi {
    color: #FFAD7B;
}

/* Type */
span.ͼg {
    color: #4CFFE0;
}

/* Literal */
span.ͼj {
    color: #50B2FF;
}

/* Modifier */
span.ͼh {
    color: #50B2FF;
}